hr {
    width: 100%;
    margin: 1px;
}
.carrito {
    color:black;
    width: 100%;
} .carrito .carritoPage {
    padding: 0rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
} 

.carrito .carritoPage .carritoRight {
    text-align: left;
} .carrito .carritoPage .carritoRight h2 {
    margin-bottom: 0;
} .carrito .carritoPage .carritoRight .totalCarrito {
    margin: 0;
} .carrito .carritoPage .carritoRight .cantProd {
    font-size: 1rem;
} .carrito .carritoPage .carritoRight .vaciarCarrito button {
    cursor: pointer;
    padding: 0.5rem 1rem;
} 

.carrito .carritoPage .carritoLeft .productCart{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
} .carrito .carritoPage .carritoLeft .productCartImg, .carrito .productCartImg img {
    max-width: 300px;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartName {
    margin: 0;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetail {
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTitle {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTValue {        
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;    
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTitle .removeItem {
    border: 0;
    background: transparent;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTitle .removeItem img {
    width: 1rem;
    cursor: pointer;
} 

.orderInfo {
    padding: 1rem 0;
    margin: 1rem 0;
    background-color: #6BA4B0;
    color: white;
} .orderInfo h4, .orderInfo h5 {
    padding: 0;
    margin: 0;
}.orderInfo .orderForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 1rem;
} .orderInfo .orderForm .botonLc {
    background: #B06B88;

} .orderInfo .orderForm div {
    display: flex;
    font-size: 1rem;
    width: 100%;
    flex-direction: column;
} .orderInfo .orderForm input {
    padding: 0.5rem;
} .orderInfo .orderForm .idOrder {
    font-size: 0.85rem;
}

.textColorNegrita {
    font-weight: bold;

}

.textColorRed {
    background: red;
    color: white;
    padding: 0 5px;
    margin: 0 5px;
}

.endCart {
    margin-bottom: 0;
    color: red;
}

.greenSession {
    background: green;
    padding: 0 0.5rem;
    font-size: 0.84rem;
}