.productPage .producto {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
    color: black;
} .productPage .producto .productoItem {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
} .productPage .producto .productoItem .productoInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}  .productPage .producto .productoItem img {
    max-width: 300px;
} .productPage .producto .productoItem h2{
    margin: 0;
} .productPage .producto .productoItem .productoInfoDesc {
    margin: 0;
    font-size: 1rem;
} .productPage .producto .productoItem .productoInfoPrice {
    margin: 0;
    font-size: 2rem;
} .productPage .producto .productoItem .productoShop {
    margin: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: center;
    align-items: center;
} .productPage .producto .productoItem .productoInfoColor, 
.productPage .producto .productoItem .productoInfoTalla {
    display: flex;
    flex-direction: column;    
} .productPage .producto .productoItem .productoInfoColor span,
.productPage .producto .productoItem .productoInfoTalla span {
    font-size: 1rem;
} .productPage .producto .productoItem .productoInfoColor select, 
.productPage .producto .productoItem .productoInfoTalla select{
    padding: 1rem;
}