.carrito {
    color:black;
    width: 100%;
} .carrito .carritoPage {
    padding: 0rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
} .carrito .carritoPage .productCart{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
} .carrito .carritoPage  .productCartImg, .carrito .productCartImg img {
    max-width: 300px;
} .carrito .carritoPage .productCartInfo .productCartName {
    margin: 0;
    text-align: left;
} .carrito .carritoPage .productCartInfo .productCartDetail {
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .productCartInfo .productCartDetailTitle {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .productCartInfo .productCartDetailTValue {        
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;    
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .productCartInfo .productCartDetailTitle .removeItem {
    border: 0;
    background: transparent;
} .carrito .carritoPage .productCartInfo .productCartDetailTitle .removeItem img {
    width: 1rem;
    cursor: pointer;
} .carrito .carritoPage .vaciarCarrito button {
    cursor: pointer;
} 

.bodyLoading {
    position: absolute;
    width: 100%;    
    height: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
} .bodyLoading .loading {
    position: fixed;
    width: 100%;
    height: 100vw;    
    top: 37.5%;
} .bodyLoading .loading img {
    max-width: 150px;
    
}