.carrito {
    color:black;
    width: 100%;
} .carrito .carritoPage {
    padding: 0rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
} 

.carrito .carritoPage .carritoRight {
    text-align: left;
} .carrito .carritoPage .carritoRight .vaciarCarrito button {
    cursor: pointer;
} 

.carrito .carritoPage .carritoLeft .productCart{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
} .carrito .carritoPage .carritoLeft .productCartImg, .carrito .productCartImg img {
    max-width: 300px;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartName {
    margin: 0;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetail {
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTitle {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTValue {        
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;    
    font-size: 1rem;
    text-align: left;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTitle .removeItem {
    border: 0;
    background: transparent;
} .carrito .carritoPage .carritoLeft .productCartInfo .productCartDetailTitle .removeItem img {
    width: 1rem;
    cursor: pointer;
} 