.userProfile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
} .userProfile .userInfo{
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 2rem;
} .userProfile .userInfo img {
    border-radius: 50%;
} .userProfile .userInfo span {
    font-size: 1rem;
} .userProfile .userInfo h4 {
    margin: 0rem;
}

@media screen and (max-width:768px) {
    .userProfile {
        align-content: center;
        justify-content: center
    }

    .userOrders {
        padding: 0 1rem;
        width: 100%;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .userOrders .orders {
        flex-direction: column;
    }
}