.cartUser {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding-right: 1rem;
} .cartUser .cartUserImage {
    width: 1rem;
    fill: white !important;
    color: white;
    padding-right: 5px;
}

.cartIcon {
    width: 1.3rem;
    fill: white !important;
    color: white;
} 

.cartWidget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;  
    color: white;
    text-decoration: none;
}

.cartWidget a {
    text-decoration: none;
}

#cartNumber {
    font-size: 0.9rem;    
    color: white;
}